:root,
body,
html {
	margin: 0;
	box-sizing: border-box;
}
.form {
	width: 500px;
}

.container {
	height: 100vh;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
